<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gipra.kelebek">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kelebeklogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.gipra.kelebek.ui.PinManagement.OtrUpload"></activity>
        <activity android:name="com.gipra.kelebek.ui.Report.My_Product.MyProduct"></activity>
        <activity android:name="com.gipra.kelebek.atv.Treewithsponsers" />
        <activity android:name="com.gipra.kelebek.ui.Genealogy.TreeSponsers" />
        <activity android:name="com.gipra.kelebek.MyProfile.E_wallet" />
        <activity android:name="com.gipra.kelebek.MyProfile.BinaryDetails_CpGBV" />
        <activity android:name="com.gipra.kelebek.MyProfile.Referrals" />
        <activity android:name="com.gipra.kelebek.MyProfile.IncomeDetails_Acc" />
        <activity android:name="com.gipra.kelebek.ui.Genealogy.RegVacant" />
        <activity android:name="com.gipra.kelebek.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.gipra.kelebek.ui.Report.SponsorList.SponsorList" />
        <activity android:name="com.gipra.kelebek.State.St_list_item" />
        <activity android:name="com.gipra.kelebek.District.Dist_list_item" />
        <activity android:name="com.gipra.kelebek.District.district_list_item" />
        <activity android:name="com.gipra.kelebek.State.state_list_item" />
        <activity android:name="com.gipra.kelebek.ChangePassword" />
        <activity android:name="com.gipra.kelebek.GoToShero" />
        <activity android:name="com.gipra.kelebek.MyProfile.MyProfile" />
        <activity android:name="com.gipra.kelebek.Forgotpassword" />
        <activity
            android:name="com.gipra.kelebek.Registration"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.gipra.kelebek.Login"/>
        <activity
            android:name="com.gipra.kelebek.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:usesCleartextTraffic="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>